<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143465295672-m7qh22b37f4rbrvdn534c9temgepu29q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143465295672-m7qh22b37f4rbrvdn534c9temgepu29q</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ3XWjBgOtDiykqAlEMUdNCG8k66IwWD4</string>
	<key>GCM_SENDER_ID</key>
	<string>143465295672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sod.vendor</string>
	<key>PROJECT_ID</key>
	<string>sod-vendor</string>
	<key>STORAGE_BUCKET</key>
	<string>sod-vendor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143465295672:ios:b9d80c916f3bdabc695bcd</string>
</dict>
</plist>